<div class="container">
  <div class="bordered">
    <div class="col-xs-12"></div>
    <input type="button" value="entblocken" style="float: right;">
    <p>
      Lucas Teise
    </p>
  </div>
</div>