.form-inline{
    float: left;
}
.left-container{
    width: 15%;
    margin-top: 3%;
    margin-left: 1%;
    background-color: #f8f9fa;
    border: 1px;
    border-style: dashed;
    border-color: black;

}
.mid-left-container{
    margin-top: 3%;
    margin-bottom: 3%; 
    margin: 3%;
    font-family: 'Franklin Gothic Small';
}

.left-title{
    margin-left: 33.33%;
    font-family: 'Lucida Sans';
    font-style: italic;
}

.main-container{
    float: left;
    position: absolute;
    left: 50%;
}

.willkommen{
    font-family: 'Franklin Gothic Medium';
    position: absolute;
    left: 30%;
}
