<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">CerberAPP</a>
  <input class="Username" [(ngModel)]="user.username" placeholder="Benutzername" />
  <input class=" Password" type="password" [(ngModel)]="user.password" placeholder="Passwort" />
  <a class="nav-item nav-link active" (click)="submit(user)">
    Login</a>
  <a class="nav-item nav-link disabled" [routerLink]="['','register']"> jetzt Registrieren! </a>
</nav>
<div class="main-Container">
  <div>
    <h1 class="willkommen">Herzlich Willkommen zur CerberAPP</h1>
  </div>
  <div class="left-container">
    <h3 class="left-title">News</h3>
    <div class="mid-left-container">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
      et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>