<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">CerberAPP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['','chat']" href="">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" [routerLink]="['','contact-list']">Kontaktliste</a>
      <a class="nav-item nav-link" [routerLink]="['','person-search']">Personen Hinzufügen</a>
    </div>
  </div>
  <a id="" class="nav-item nav-link" (click)="unlogCall()">Abmelden</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-offset-4 frame">

      <div class="pre-scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Uhrzeit</th>
              <th>Username</th>
              <th>Nachricht</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of globalChats">
              <td>{{ item.time }}</td>
              <td>{{ item.currentUser}}</td>
              <td>{{ item.text}}</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>










      <ul></ul>
      <div>
        <div class="col-lg-12 col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="schreiben..." [(ngModel)]="msg.text">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="sendMessage(msg)">Senden</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>