.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0px;
}

.frame > div:last-of-type{
    position:absolute;
    bottom:5px;
    width:100%;
    display:flex;
} 

.container{
    margin-left: 25%;
}


