<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">CerberAPP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <span class="sr-only">(current)</span>
      <a class="nav-item nav-link" [routerLink]="['','chat']">Home</a>
      <a class="nav-item nav-link" [routerLink]="['','contact-list']">Kontaktliste</a>
      <a class="nav-item nav-link active" href="">Personen Hinzufügen</a>
    </div>
  </div>
  <a id="" class="nav-item nav-link" (click)="unlogCall()">Abmelden</a>
</nav>
<div class="container">
  <div class="row">
    <div>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Personen</a>
        <a>
          <input class="personSearchInputId" [(ngModel)]="this.username" placeholder=" Suche...">
        </a>
        <a class="btn btn-primary" (click)="submit(contact) ">hinzufügen</a>
      </nav>
    </div>
  </div>
</div>