<!--
    <div *ngIf='!noContact'>
      <div class="container">
        <div class="bordered">
          <div class="col-xs-12"></div>

         
          <input type="button" value="Blockieren" style="float: right;" (click)="block(ownContact)">
          <p *ngIf='!contact.blocked'>
            {{ ownContact }}
          </p>
        </div>
      </div>
    </div>
  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">CerberAPP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['','chat']">Home</a>
      <a class="nav-item nav-link active" href="">Kontaktliste
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" [routerLink]="['','person-search']">Personen Hinzufügen</a>
    </div>
  </div>
  <a id="" class="nav-item nav-link" (click)="unlogCall()">Abmelden</a>
</nav>
<div>
  <p></p>
  <ul>
    <li class='field' *ngFor="let c of contacts">
      <table>
        <tr>
          <td>{{ c.username }}</td>
          <td del="" class="nav-item nav-link" (click)='delContact(c.username)'>Löschen</td>
        </tr>
      </table>
    </li>
  </ul>
</div>