.bordered {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid yellowgreen;
    }

input{
    width: 90px;
    height: 50px;
}
.field {
    width: 250px;
    height: 45px;
    border: 1px solid lightgray;
}