<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">CerberAPP</a>
    <a class="nav-item nav-link disabled" [routerLink]="['','login']"> zum login </a>
  </nav>
</div>
<div class="col-md-12 header">
  Erstelle ein neues Konto
</div>

<!-- Text input-->
<div class="col-md-12 form-group">
  <div class="row">
    <div class="col-md-3">
      <input id="firstnameId" [(ngModel)]="user.vorname" name="firstnameName" placeholder="Vorname" class="form-control input-md"
        type="text">
    </div>
    <div class="col-md-3">
      <input id="nameId" [(ngModel)]="user.nachname" name="nameName" placeholder="Nachname" class="form-control input-md" type="text">
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-6">
    <input id="usernameinputId" [(ngModel)]="user.username" name="usernameinputName" placeholder="Benutzername" class="form-control input-md"
      type="text">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <div class="col-md-6">
    <input id="passwordinputId" [(ngModel)]="user.password" name="passwordinputName" placeholder="Passwort" class="form-control input-md"
      type="password">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-6">
    <b>Geburtsdatum</b>
    <input class="form-control input-md" [(ngModel)]="user.gebDat" type="Date">
    <!-- <div class="col-md-12 form-group">
      <div class="row">
        <select class="select form-control day" id="select" name="select" aria-label="Tag">
          <option value="0">Tag</option>
          <option *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" value="{{day}}">{{day}}</option>
        </select>
      <select class="select form-control month" id="select" name="select" aria-label="Monat">
          <option value="0">Monat</option>
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mär</option>
          <option value="4">Apr</option>
          <option value="5">Mai</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Okt</option>
          <option value="11">Nov</option>
          <option value="12">Dez</option>
        </select>
        <select class="select form-control year" id="select" name="select" aria-label="Jahr">
          <option value="0">Jahr</option>
          <option *ngFor="let year of []" value="{{year}}">{{year}}</option>
        </select>
      </div>
    </div> -->
  </div>

  <div class="form-group col-md-6">
    <input type="checkbox" name="AGB" value="AGB's gelesen"> Ich habe die
    <a href="">AGB's</a> gelesen und bin einverstanden
    <a class="nav-item nav-link disabled" (click)="save(user)" [routerLink]="['','login']"> Registrieren </a>
  </div>